USE [BookWormDB]
GO
/****** Object:  UserDefinedFunction [User].[funUserSummary]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [User].[funUserSummary](@UserID AS BigInt)
RETURNS TABLE 
RETURN
	SELECT 
		U.[UserID], [UserName], [MBTI], 
		CONCAT([FirstName], ' ', [LastName]) AS FullName,
		I.ImageGuid, I.ImageUrl
	FROM [User].[User] AS U
	LEFT JOIN [User].[Image] AS I
		ON U.UserID = I.UserID
		AND U.UserID = @UserID
GO
