USE [BookWormDB]
GO
/****** Object:  StoredProcedure [Book].[spCollection]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [Book].[spCollection](@UserID AS BIGINT)
AS
BEGIN
	SELECT 
		C.[CollectionID], C.[IsPublic], C.[Title], C.[CreateDate], C.[Discription], C.[ReportID],

		C.GenreID1, G1.Title AS GenreTitle1,
		C.GenreID2, G2.Title AS GenreTitle2, 
		C.GenreID3, G3.Title AS GenreTitle3, 

		C.[AccessibilityGroupID], A.Title AS AccessGroupTitle, 
		A.Discription AS AccessGroupDiscription,

		(SELECT COUNT(*) FROM Book.[CollectionDetail] WHERE CollectionID = C.[CollectionID]) AS NumberOfDetail,

		C.[UserID], U.UserName, CONCAT(U.FirstName, '', U.LastName) AS FullName

	FROM Book.[Collection] AS C
	LEFT JOIN [USER].[User] AS U
		ON C.UserID = U.UserID
	LEFT JOIN [Book].[Genre] AS G1
		ON C.GenreID1 = G1.GenreID
	LEFT JOIN [Book].[Genre] AS G2
		ON C.GenreID2 = G2.GenreID
	LEFT JOIN [Book].[Genre] AS G3
		ON C.GenreID3 = G3.GenreID
	LEFT JOIN [Book].[AccessibilityGroup] AS A
		ON C.AccessibilityGroupID = A.AccessibilityGroupID

	WHERE ((@UserID = 0) OR ((@UserID <> 0) and (@UserID = C.UserID)))
END;





GO
