USE [BookWormDB]
GO
/****** Object:  StoredProcedure [Book].[spFavoritBook]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Book].[spFavoritBook](@UserID AS BIGINT)
AS
BEGIN
	SELECT 
		B.[BookID], B.[Title], B.[AuthorID], B.[FullAuthorName], 
		B.[GenreID1], B.[GenreID2], B.[GenreID3], 
		B.[PublisherID], B.ImageUrl,
		COUNT(LikeID) AS LIKECOUNT 
	FROM Book.vwBookSummary AS B
	LEFT JOIN BOOK.[Like] AS L
		ON L.BookID = B.BookID
		
	WHERE (L.UserID = @UserID) AND (B.IsPrimary = 1)
	GROUP BY B.[BookID], [Title], [AuthorID], B.[FullAuthorName], 
		[GenreID1], [GenreID2], [GenreID3], [PublisherID], ImageUrl
	ORDER BY LIKECOUNT DESC
END;
GO
