USE [BookWormDB]
GO
/****** Object:  StoredProcedure [Book].[spSearchBook]    Script Date: 22/01/1404 08:31:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE OR ALTER  PROCEDURE [Book].[spSearchBook]
	(
		@Text AS NVARCHAR(100), 
		@PageNum AS INT, 
		@Count AS INT
	 )
	AS
	BEGIN
		SELECT 
			B.* , 
			I.[ImageGuid] 
		FROM Book.vwBook AS B
		LEFT JOIN Book.Image AS I
			ON B.BookID = I.BookID
		WHERE B.Title LIKE N'%' + @Text + '%'
		ORDER BY B.Title
	END;
GO
