USE [BookWormDB]
GO
/****** Object:  StoredProcedure [Book].[spDetailCollection]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     PROCEDURE [Book].[spDetailCollection](@CollectionID AS BIGINT)
AS
BEGIN
	SELECT
		CD.[CollectionID], B.*
	FROM [Book].[CollectionDetail] AS CD
	LEFT JOIN Book.vwBookSummary AS B
		ON CD.BookID = B.BookID
		AND B.IsPrimary = 1
	WHERE ((@CollectionID = 0) OR (@CollectionID <> 0) AND (CD.CollectionID = @CollectionID))
END;



GO
