USE [BookWormDB]
GO
/****** Object:  View [Book].[vwBook]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [Book].[vwBook]
AS
	SELECT 
		B.[BookID], 
		B.[Title], 
		B.[GenreID1], G1.[Title] AS GenreName1, 
		B.[GenreID2], G2.[Title] AS GenreName2, 
		B.[GenreID3], G3.[Title] AS GenreName3, 
		A.AuthorID, A.FirstName, A.Lastname,
		B.[GenreExtra], 
		(SELECT AVG(Rate) FROM Book.Rate WHERE BookID = B.BookID) AS AvgRate
	FROM Book.Book AS B
	LEFT JOIN Book.Genre AS G1 ON B.GenreID1 = G1.GenreID
	LEFT JOIN Book.Genre AS G2 ON B.GenreID2 = G2.GenreID
	LEFT JOIN Book.Genre AS G3 ON B.GenreID3 = G3.GenreID
	LEFT JOIN Book.Author AS A ON B.AuthorID = A.AuthorID
GO
