USE [BookWormDB]
GO
/****** Object:  View [Book].[vwCommentDetail]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [Book].[vwCommentDetail]
as
	SELECT 
		[CommentID], [BookID], [Text], 
		[CommentRefID], [CreatedAt], [LikeCount], 
		[DisLikeCount], [IsBlocked], [IsEdited], 
		[IsSpoiled], [ReportCount], [ReportID],
		U.[UserID], [UserName], [MBTI], 
		CONCAT([FirstName], ' ', [LastName]) AS FullName,
		I.ImageGuid, I.ImageUrl
	FROM Book.Comment AS C
	LEFT JOIN [User].[User] AS U
		ON C.UserID = U.UserID
	LEFT JOIN [User].[Image] AS I
			ON U.UserID = I.UserID
GO
