USE [BookWormDB]
GO
/****** Object:  View [Book].[vwBookSummary]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [Book].[vwBookSummary]
AS
	SELECT 
		B.[BookID], B.[Title], B.[PublisherID], 
		B.[GenreID1], B.[GenreID2], [GenreID3], B.[GenreExtra], 
		B.[Description], B.[PublishedYear], B.[LanguageID], 
		B.[PageCount], B.[ISBN], B.[CreatedAt], B.[UpdatedAt],
		B.[AuthorID], 
		CASE 
			WHEN LEN(A.[MiddleName]) <> 0 THEN CONCAT(A.[FirstName], ' ', A.[MiddleName], ' ', A.[Lastname])
			ELSE CONCAT(A.[FirstName], ' ', A.[Lastname])
		END AS FullAuthorName, 
		I.[ImageGuid],I.[IsPrimary], I.[ImageUrl]
	FROM Book.Book AS B
	LEFT JOIN Book.Image AS I
		ON B.BookID = I.BookID
	LEFT JOIN Book.Author AS A
		ON B.AuthorID = A.AuthorID
GO
