USE [BookWormDB]
GO
/****** Object:  View [User].[vwUserSummary]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [User].[vwUserSummary]
AS
	SELECT 
		U.[UserID], [UserName], [MBTI], 
		CONCAT([FirstName], ' ', [LastName]) AS FullName,
		I.ImageGuid, I.ImageUrl
	FROM [User].[User] AS U
	LEFT JOIN [User].[Image] AS I
		ON U.UserID = I.UserID
GO
