USE [master]
GO
/****** Object:  Database [BookWormDB]    Script Date: 30/02/1404 11:44:08 ب.ظ ******/
CREATE DATABASE [BookWormDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookWormDB', FILENAME = N'H:\BookWorm\DBFiles\BookWormDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookWormDB_log', FILENAME = N'H:\BookWorm\DBFiles\BookWormDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookWormDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookWormDB]
GO
/****** Object:  Schema [Book]    Script Date: 30/02/1404 11:44:08 ب.ظ ******/
CREATE SCHEMA [Book]
GO
/****** Object:  Schema [Global]    Script Date: 30/02/1404 11:44:08 ب.ظ ******/
CREATE SCHEMA [Global]
GO
/****** Object:  Schema [Personality]    Script Date: 30/02/1404 11:44:08 ب.ظ ******/
CREATE SCHEMA [Personality]
GO
/****** Object:  Schema [User]    Script Date: 30/02/1404 11:44:08 ب.ظ ******/
CREATE SCHEMA [User]
GO
/****** Object:  Schema [Zone]    Script Date: 30/02/1404 11:44:08 ب.ظ ******/
CREATE SCHEMA [Zone]
GO
/****** Object:  FullTextCatalog [BookCatalog]    Script Date: 30/02/1404 11:44:08 ب.ظ ******/
CREATE FULLTEXT CATALOG [BookCatalog] WITH ACCENT_SENSITIVITY = OFF
GO
USE [BookWormDB]
GO
/****** Object:  Sequence [User].[SeqUserID]    Script Date: 30/02/1404 11:44:08 ب.ظ ******/
CREATE SEQUENCE [User].[SeqUserID] 
 AS [bigint]
 START WITH 10053
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [User].[User]    Script Date: 30/02/1404 11:44:08 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User].[User](
	[UserID] [bigint] NOT NULL,
	[UserName] [varchar](255) NOT NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Email] [nvarchar](250) NULL,
	[Bio] [nvarchar](250) NULL,
	[Gender] [nvarchar](2) NULL,
	[DateOfBrith] [date] NULL,
	[WebSite] [nvarchar](250) NULL,
	[UserTypeID] [tinyint] NULL,
	[MBTI] [char](4) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_User] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [User].[UserType]    Script Date: 30/02/1404 11:44:08 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User].[UserType](
	[UserTypeID] [tinyint] NOT NULL,
	[Code] [nvarchar](10) NOT NULL,
	[MainName] [nvarchar](50) NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [User].[Security]    Script Date: 30/02/1404 11:44:08 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User].[Security](
	[UserID] [bigint] NOT NULL,
	[PassHint] [nvarchar](250) NULL,
	[LastLogin] [datetime] NULL,
	[Status] [tinyint] NULL,
	[LockOutEnd] [date] NULL,
	[IsEmailVerified] [bit] NULL,
	[IsPhoneVerified] [bit] NULL,
	[FailedLoginAttempts] [tinyint] NULL,
	[CreateDate] [datetime] NULL,
	[ClientEmailID] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[Salt] [nvarchar](max) NULL,
	[VerificationCode] [nvarchar](250) NULL,
 CONSTRAINT [PK_Security] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [User].[vwAllFieldUser]    Script Date: 30/02/1404 11:44:08 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [User].[vwAllFieldUser]
AS
	SELECT 
		U.[UserID], U.[UserName], U.[FirstName], U.[LastName], 
		U.[PhoneNumber], U.[Email], U.[Bio], U.[Gender], 
		U.[WebSite], U.[UserTypeID], U.[DateOfBrith], 
		S.[PassHint], S.[LastLogin], 
		S.[Status], S.[LockOutEnd], S.[IsEmailVerified], 
		S.[IsPhoneVerified], S.[FailedLoginAttempts], [MBTI],
		S.[CreateDate], S.[ClientEmailID], S.[PasswordHash], S.[Salt], S.[VerificationCode],
		T.[Code] AS UserTypeCode, T.[MainName] AS UserTypeTitle, T.[Description] AS UserTypeDescription
	FROM [User].[User] AS U
	LEFT JOIN [User].[Security] AS S
		ON U.UserID = S.UserID
	LEFT JOIN [User].[UserType] AS T
		ON U.UserID = T.UserTypeID
GO
/****** Object:  UserDefinedFunction [User].[funLogin]    Script Date: 30/02/1404 11:44:08 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE      FUNCTION [User].[funLogin]
(
	@userName NVARCHAR(255),
	@email NVARCHAR(255)
)
RETURNS TABLE 
AS RETURN 
(
	SELECT 
		[UserID], [UserName], [FirstName], [LastName], 
		[PhoneNumber], [Email], [Bio], [Gender], 
		[WebSite], [UserTypeID], [DateOfBrith], 
		[PassHint], [LastLogin], 
		[Status], [LockOutEnd], [IsEmailVerified], 
		[IsPhoneVerified], [FailedLoginAttempts], 
		[CreateDate], [ClientEmailID], [PasswordHash], [Salt], [VerificationCode],
		UserTypeCode, UserTypeTitle, UserTypeDescription	
	FROM [User].vwAllFieldUser 
	WHERE (UserName = @userName) OR (Email = @email)
);
GO
/****** Object:  Table [Book].[Author]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Author](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](255) NOT NULL,
	[MiddleName] [nvarchar](255) NULL,
	[Lastname] [nvarchar](255) NOT NULL,
	[Pseudonym] [nvarchar](255) NULL,
	[BirthDate] [date] NULL,
	[Gender] [smallint] NULL,
	[DeathDate] [date] NULL,
	[IsAlive] [bit] NULL,
	[NumberOfBooks] [smallint] NULL,
	[CountryID] [int] NULL,
	[Biography] [nvarchar](max) NULL,
	[Website] [nvarchar](255) NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Book].[Book]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Book](
	[BookID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[AuthorID] [int] NULL,
	[PublisherID] [int] NULL,
	[GenreID1] [int] NULL,
	[GenreID2] [int] NULL,
	[GenreID3] [int] NULL,
	[GenreExtra] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[PublishedYear] [smallint] NULL,
	[LanguageID] [int] NULL,
	[PageCount] [int] NULL,
	[ISBN] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Book].[Image]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Image](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ImageGuid] [uniqueidentifier] NOT NULL,
	[BookID] [bigint] NOT NULL,
	[IsPrimary] [bit] NULL,
	[UploadDate] [datetime] NULL,
	[FileSizeKB] [int] NULL,
	[ContentType] [varchar](100) NULL,
	[OriginalFileName] [nvarchar](255) NULL,
	[ImageUrl] [varchar](255) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Book].[vwBookSummary]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [Book].[vwBookSummary]
AS
	SELECT 
		B.[BookID], B.[Title], B.[PublisherID], 
		B.[GenreID1], B.[GenreID2], [GenreID3], B.[GenreExtra], 
		B.[Description], B.[PublishedYear], B.[LanguageID], 
		B.[PageCount], B.[ISBN], B.[CreatedAt], B.[UpdatedAt],
		B.[AuthorID], 
		CASE 
			WHEN LEN(A.[MiddleName]) <> 0 THEN CONCAT(A.[FirstName], ' ', A.[MiddleName], ' ', A.[Lastname])
			ELSE CONCAT(A.[FirstName], ' ', A.[Lastname])
		END AS FullAuthorName, 
		I.[ImageGuid],I.[IsPrimary], I.[ImageUrl]
	FROM Book.Book AS B
	LEFT JOIN Book.Image AS I
		ON B.BookID = I.BookID
	LEFT JOIN Book.Author AS A
		ON B.AuthorID = A.AuthorID
GO
/****** Object:  Table [Book].[Genre]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Genre](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[SuitableAge] [tinyint] NULL,
	[SDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Genre] UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Book].[Rate]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Rate](
	[RateID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[BookID] [bigint] NOT NULL,
	[Rate] [tinyint] NOT NULL,
 CONSTRAINT [PK_Rate] PRIMARY KEY CLUSTERED 
(
	[RateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Book].[vwBook]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [Book].[vwBook]
AS
	SELECT 
		B.[BookID], 
		B.[Title], 
		B.[GenreID1], G1.[Title] AS GenreName1, 
		B.[GenreID2], G2.[Title] AS GenreName2, 
		B.[GenreID3], G3.[Title] AS GenreName3, 
		A.AuthorID, A.FirstName, A.Lastname,
		B.[GenreExtra], 
		(SELECT AVG(Rate) FROM Book.Rate WHERE BookID = B.BookID) AS AvgRate
	FROM Book.Book AS B
	LEFT JOIN Book.Genre AS G1 ON B.GenreID1 = G1.GenreID
	LEFT JOIN Book.Genre AS G2 ON B.GenreID2 = G2.GenreID
	LEFT JOIN Book.Genre AS G3 ON B.GenreID3 = G3.GenreID
	LEFT JOIN Book.Author AS A ON B.AuthorID = A.AuthorID
GO
/****** Object:  Table [User].[Image]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User].[Image](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ImageGuid] [uniqueidentifier] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[UploadDate] [datetime] NULL,
	[FileSizeKB] [int] NULL,
	[ContentType] [varchar](100) NULL,
	[OriginalFileName] [nvarchar](255) NULL,
	[ImageUrl] [varchar](255) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
 CONSTRAINT [PK_UserProfileImage_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Image] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [User].[funUserSummary]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [User].[funUserSummary](@UserID AS BigInt)
RETURNS TABLE 
RETURN
	SELECT 
		U.[UserID], [UserName], [MBTI], 
		CONCAT([FirstName], ' ', [LastName]) AS FullName,
		I.ImageGuid, I.ImageUrl
	FROM [User].[User] AS U
	LEFT JOIN [User].[Image] AS I
		ON U.UserID = I.UserID
		AND U.UserID = @UserID
GO
/****** Object:  View [User].[vwUserSummary]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [User].[vwUserSummary]
AS
	SELECT 
		U.[UserID], [UserName], [MBTI], 
		CONCAT([FirstName], ' ', [LastName]) AS FullName,
		I.ImageGuid, I.ImageUrl
	FROM [User].[User] AS U
	LEFT JOIN [User].[Image] AS I
		ON U.UserID = I.UserID
GO
/****** Object:  Table [Book].[Comment]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Comment](
	[CommentID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[BookID] [bigint] NOT NULL,
	[Text] [nvarchar](max) NULL,
	[CommentRefID] [bigint] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[LikeCount] [int] NULL,
	[DisLikeCount] [int] NULL,
	[IsBlocked] [bit] NULL,
	[IsEdited] [bit] NULL,
	[IsSpoiled] [bit] NULL,
	[ReportCount] [int] NULL,
	[ReportID] [bigint] NULL,
 CONSTRAINT [PK_Comment\] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [Book].[vwCommentDetail]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [Book].[vwCommentDetail]
as
	SELECT 
		[CommentID], [BookID], [Text], 
		[CommentRefID], [CreatedAt], [LikeCount], 
		[DisLikeCount], [IsBlocked], [IsEdited], 
		[IsSpoiled], [ReportCount], [ReportID],
		U.[UserID], [UserName], [MBTI], 
		CONCAT([FirstName], ' ', [LastName]) AS FullName,
		I.ImageGuid, I.ImageUrl
	FROM Book.Comment AS C
	LEFT JOIN [User].[User] AS U
		ON C.UserID = U.UserID
	LEFT JOIN [User].[Image] AS I
			ON U.UserID = I.UserID
GO
/****** Object:  Table [Book].[AccessibilityDetail]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[AccessibilityDetail](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AccessibilityGroupID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Priority] [bigint] NULL,
 CONSTRAINT [PK_AccessibilityDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Book].[AccessibilityGroup]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[AccessibilityGroup](
	[AccessibilityGroupID] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Discription] [nvarchar](max) NULL,
 CONSTRAINT [PK_AccessibilityGroup] PRIMARY KEY CLUSTERED 
(
	[AccessibilityGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Book].[Collection]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Collection](
	[CollectionID] [bigint] IDENTITY(1,1) NOT NULL,
	[IsPublic] [bit] NOT NULL,
	[AccessibilityGroupID] [bigint] NULL,
	[Title] [nvarchar](255) NULL,
	[CreateDate] [date] NULL,
	[Discription] [nvarchar](max) NULL,
	[GenreID1] [int] NULL,
	[GenreID2] [int] NULL,
	[GenreID3] [int] NULL,
	[ReportID] [bigint] NULL,
	[UserID] [bigint] NULL,
	[ImageGUID] [uniqueidentifier] NULL,
	[ImageType] [nchar](10) NULL,
 CONSTRAINT [PK_Collection] PRIMARY KEY CLUSTERED 
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Book].[CollectionDetail]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[CollectionDetail](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CollectionID] [bigint] NULL,
	[BookID] [bigint] NULL,
 CONSTRAINT [PK_CollectionDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Book].[Hashtag]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Hashtag](
	[HashtagID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
 CONSTRAINT [PK_Hashtag] PRIMARY KEY CLUSTERED 
(
	[HashtagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Book].[HashtagCollection]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[HashtagCollection](
	[HashtagID] [int] NOT NULL,
	[CollectionID] [bigint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Book].[Language]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Language](
	[LanguageID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[ISOCode] [varchar](3) NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[LanguageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Book].[Like]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Like](
	[LikeID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NULL,
	[BookID] [bigint] NULL,
 CONSTRAINT [PK_Like] PRIMARY KEY CLUSTERED 
(
	[LikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Book].[Publisher]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Publisher](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[CountryID] [int] NULL,
	[Website] [nvarchar](255) NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Global].[Report]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Global].[Report](
	[ReportID] [bigint] NOT NULL,
	[Text] [nvarchar](255) NULL,
	[UserID] [bigint] NULL,
	[IsChecked] [bit] NULL,
	[ReportTypeID] [int] NULL,
 CONSTRAINT [PK_Report] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Global].[ReportType]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Global].[ReportType](
	[ReportTypeID] [tinyint] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ReportType] PRIMARY KEY CLUSTERED 
(
	[ReportTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Personality].[MBTI_Genre_Suggestion]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Personality].[MBTI_Genre_Suggestion](
	[MBTI] [char](4) NOT NULL,
	[GenreID] [int] NOT NULL,
	[Strength] [tinyint] NULL,
 CONSTRAINT [PK__MBTI_Gen__CE1370C8C939A6B3] PRIMARY KEY CLUSTERED 
(
	[MBTI] ASC,
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Personality].[MBTI_Types]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Personality].[MBTI_Types](
	[MBTI] [char](4) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[SDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK__MBTI_Typ__3E2B209D2C73B354] PRIMARY KEY CLUSTERED 
(
	[MBTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__MBTI_Typ__A25C5AA7B8945236] UNIQUE NONCLUSTERED 
(
	[MBTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [User].[GenreFavorite]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User].[GenreFavorite](
	[GenreFavoriteID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[GenreID] [int] NOT NULL,
	[Priority] [int] NULL,
 CONSTRAINT [PK_GenreFavorite] PRIMARY KEY CLUSTERED 
(
	[GenreFavoriteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Zone].[Continent]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Zone].[Continent](
	[ContinentID] [int] IDENTITY(1,1) NOT NULL,
	[ContinentName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContinentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Zone].[Country]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Zone].[Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
	[ISOCode] [char](2) NULL,
	[Capital] [nvarchar](100) NULL,
	[ContinentID] [int] NULL,
	[LanguageID] [int] NULL,
 CONSTRAINT [PK__Countrie__10D160BFA4395944] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Book]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Book] ON [Book].[Book]
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CollectionDetail]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_CollectionDetail] ON [Book].[CollectionDetail]
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CollectionDetail_1]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_CollectionDetail_1] ON [Book].[CollectionDetail]
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Image_ImageGuid]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Image_ImageGuid] ON [Book].[Image]
(
	[ImageGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Like]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_Like] ON [Book].[Like]
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Like_1]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_Like_1] ON [Book].[Like]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MBTI_Genre_Suggestion_Genere]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_MBTI_Genre_Suggestion_Genere] ON [Personality].[MBTI_Genre_Suggestion]
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_MBTI_Genre_Suggestion_MBTI]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_MBTI_Genre_Suggestion_MBTI] ON [Personality].[MBTI_Genre_Suggestion]
(
	[MBTI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserProfileImage_UserID]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_UserProfileImage_UserID] ON [User].[Image]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_User] ON [User].[User]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Book].[AccessibilityDetail] ADD  CONSTRAINT [DF_AccessibilityDetail_Priority]  DEFAULT ((0)) FOR [Priority]
GO
ALTER TABLE [Book].[Book] ADD  CONSTRAINT [DF_Book_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Book].[Book] ADD  CONSTRAINT [DF_Book_UpdatedAt]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [Book].[Collection] ADD  CONSTRAINT [DF_Collection_IsPublic]  DEFAULT ((1)) FOR [IsPublic]
GO
ALTER TABLE [Book].[Collection] ADD  CONSTRAINT [DF_Collection_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [Book].[Comment] ADD  CONSTRAINT [DF_Comment_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [Book].[Comment] ADD  CONSTRAINT [DF_Comment_CountLike]  DEFAULT ((0)) FOR [LikeCount]
GO
ALTER TABLE [Book].[Comment] ADD  CONSTRAINT [DF_Comment_CountDisLike]  DEFAULT ((0)) FOR [DisLikeCount]
GO
ALTER TABLE [Book].[Comment] ADD  CONSTRAINT [DF_Comment_IsBlocked]  DEFAULT ((0)) FOR [IsBlocked]
GO
ALTER TABLE [Book].[Comment] ADD  CONSTRAINT [DF_Comment_IsEdited]  DEFAULT ((0)) FOR [IsEdited]
GO
ALTER TABLE [Book].[Comment] ADD  CONSTRAINT [DF_Comment_IsSpoiled]  DEFAULT ((0)) FOR [IsSpoiled]
GO
ALTER TABLE [Book].[Comment] ADD  CONSTRAINT [DF_Comment_ReportCount]  DEFAULT ((0)) FOR [ReportCount]
GO
ALTER TABLE [Book].[Image] ADD  CONSTRAINT [DF__Image__ImageGuid__5A4F643B]  DEFAULT (newid()) FOR [ImageGuid]
GO
ALTER TABLE [Book].[Image] ADD  CONSTRAINT [DF__Image__IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [Book].[Image] ADD  CONSTRAINT [DF__Image__UploadDate]  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [Global].[Report] ADD  CONSTRAINT [DF_Report_IsChecked]  DEFAULT ((0)) FOR [IsChecked]
GO
ALTER TABLE [Personality].[MBTI_Genre_Suggestion] ADD  CONSTRAINT [DF__MBTI_Genr__Stren__379037E3]  DEFAULT ((5)) FOR [Strength]
GO
ALTER TABLE [User].[Image] ADD  CONSTRAINT [DF_Image_UploadDate]  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [User].[Security] ADD  CONSTRAINT [DF_Security_LastLogin]  DEFAULT (getdate()) FOR [LastLogin]
GO
ALTER TABLE [User].[Security] ADD  CONSTRAINT [DF_Security_IsEmailVerified]  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [User].[Security] ADD  CONSTRAINT [DF_Security_IsPhoneVerified]  DEFAULT ((0)) FOR [IsPhoneVerified]
GO
ALTER TABLE [User].[Security] ADD  CONSTRAINT [DF_Security_FailedLoginAttempts]  DEFAULT ((0)) FOR [FailedLoginAttempts]
GO
ALTER TABLE [User].[Security] ADD  CONSTRAINT [DF_Security_CreateDate]  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [User].[User] ADD  CONSTRAINT [DF_User_Gender]  DEFAULT (N'N') FOR [Gender]
GO
ALTER TABLE [User].[User] ADD  CONSTRAINT [DF_User_UserTypeID]  DEFAULT ((1)) FOR [UserTypeID]
GO
ALTER TABLE [Book].[AccessibilityDetail]  WITH CHECK ADD  CONSTRAINT [FK_Accessibility_User] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
ON UPDATE CASCADE
GO
ALTER TABLE [Book].[AccessibilityDetail] CHECK CONSTRAINT [FK_Accessibility_User]
GO
ALTER TABLE [Book].[AccessibilityDetail]  WITH CHECK ADD  CONSTRAINT [FK_AccessibilityDetail_AccessibilityGroup] FOREIGN KEY([AccessibilityGroupID])
REFERENCES [Book].[AccessibilityGroup] ([AccessibilityGroupID])
ON UPDATE CASCADE
GO
ALTER TABLE [Book].[AccessibilityDetail] CHECK CONSTRAINT [FK_AccessibilityDetail_AccessibilityGroup]
GO
ALTER TABLE [Book].[Author]  WITH CHECK ADD  CONSTRAINT [FK_Author_Country] FOREIGN KEY([CountryID])
REFERENCES [Zone].[Country] ([CountryID])
ON UPDATE CASCADE
GO
ALTER TABLE [Book].[Author] CHECK CONSTRAINT [FK_Author_Country]
GO
ALTER TABLE [Book].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Author] FOREIGN KEY([AuthorID])
REFERENCES [Book].[Author] ([AuthorID])
ON UPDATE CASCADE
GO
ALTER TABLE [Book].[Book] CHECK CONSTRAINT [FK_Book_Author]
GO
ALTER TABLE [Book].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Genre] FOREIGN KEY([GenreID1])
REFERENCES [Book].[Genre] ([GenreID])
ON UPDATE SET NULL
GO
ALTER TABLE [Book].[Book] CHECK CONSTRAINT [FK_Book_Genre]
GO
ALTER TABLE [Book].[Book]  WITH NOCHECK ADD  CONSTRAINT [FK_Book_Genre1] FOREIGN KEY([GenreID2])
REFERENCES [Book].[Genre] ([GenreID])
NOT FOR REPLICATION 
GO
ALTER TABLE [Book].[Book] CHECK CONSTRAINT [FK_Book_Genre1]
GO
ALTER TABLE [Book].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Genre2] FOREIGN KEY([GenreID3])
REFERENCES [Book].[Genre] ([GenreID])
GO
ALTER TABLE [Book].[Book] CHECK CONSTRAINT [FK_Book_Genre2]
GO
ALTER TABLE [Book].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Language] FOREIGN KEY([LanguageID])
REFERENCES [Book].[Language] ([LanguageID])
ON UPDATE CASCADE
GO
ALTER TABLE [Book].[Book] CHECK CONSTRAINT [FK_Book_Language]
GO
ALTER TABLE [Book].[Book]  WITH CHECK ADD  CONSTRAINT [FK_Book_Publisher] FOREIGN KEY([PublisherID])
REFERENCES [Book].[Publisher] ([PublisherID])
GO
ALTER TABLE [Book].[Book] CHECK CONSTRAINT [FK_Book_Publisher]
GO
ALTER TABLE [Book].[Collection]  WITH CHECK ADD  CONSTRAINT [FK_Collection_Report] FOREIGN KEY([ReportID])
REFERENCES [Global].[Report] ([ReportID])
GO
ALTER TABLE [Book].[Collection] CHECK CONSTRAINT [FK_Collection_Report]
GO
ALTER TABLE [Book].[Collection]  WITH CHECK ADD  CONSTRAINT [FK_Collection_User] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
GO
ALTER TABLE [Book].[Collection] CHECK CONSTRAINT [FK_Collection_User]
GO
ALTER TABLE [Book].[CollectionDetail]  WITH CHECK ADD  CONSTRAINT [FK_CollectionDetail_Book] FOREIGN KEY([BookID])
REFERENCES [Book].[Book] ([BookID])
ON DELETE CASCADE
GO
ALTER TABLE [Book].[CollectionDetail] CHECK CONSTRAINT [FK_CollectionDetail_Book]
GO
ALTER TABLE [Book].[CollectionDetail]  WITH CHECK ADD  CONSTRAINT [FK_CollectionDetail_Collection] FOREIGN KEY([CollectionID])
REFERENCES [Book].[Collection] ([CollectionID])
ON DELETE CASCADE
GO
ALTER TABLE [Book].[CollectionDetail] CHECK CONSTRAINT [FK_CollectionDetail_Collection]
GO
ALTER TABLE [Book].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Book] FOREIGN KEY([BookID])
REFERENCES [Book].[Book] ([BookID])
ON DELETE CASCADE
GO
ALTER TABLE [Book].[Comment] CHECK CONSTRAINT [FK_Comment_Book]
GO
ALTER TABLE [Book].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Comment] FOREIGN KEY([CommentRefID])
REFERENCES [Book].[Comment] ([CommentID])
GO
ALTER TABLE [Book].[Comment] CHECK CONSTRAINT [FK_Comment_Comment]
GO
ALTER TABLE [Book].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Report] FOREIGN KEY([ReportID])
REFERENCES [Global].[Report] ([ReportID])
ON UPDATE CASCADE
GO
ALTER TABLE [Book].[Comment] CHECK CONSTRAINT [FK_Comment_Report]
GO
ALTER TABLE [Book].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
GO
ALTER TABLE [Book].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [Book].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Book] FOREIGN KEY([BookID])
REFERENCES [Book].[Book] ([BookID])
ON DELETE CASCADE
GO
ALTER TABLE [Book].[Image] CHECK CONSTRAINT [FK_Image_Book]
GO
ALTER TABLE [Book].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_Book] FOREIGN KEY([BookID])
REFERENCES [Book].[Book] ([BookID])
ON DELETE CASCADE
GO
ALTER TABLE [Book].[Like] CHECK CONSTRAINT [FK_Like_Book]
GO
ALTER TABLE [Book].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_User] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [Book].[Like] CHECK CONSTRAINT [FK_Like_User]
GO
ALTER TABLE [Book].[Publisher]  WITH CHECK ADD  CONSTRAINT [FK_Publisher_Country] FOREIGN KEY([CountryID])
REFERENCES [Zone].[Country] ([CountryID])
ON UPDATE CASCADE
GO
ALTER TABLE [Book].[Publisher] CHECK CONSTRAINT [FK_Publisher_Country]
GO
ALTER TABLE [Book].[Rate]  WITH CHECK ADD  CONSTRAINT [FK_Rate_Book] FOREIGN KEY([BookID])
REFERENCES [Book].[Book] ([BookID])
ON DELETE CASCADE
GO
ALTER TABLE [Book].[Rate] CHECK CONSTRAINT [FK_Rate_Book]
GO
ALTER TABLE [Book].[Rate]  WITH CHECK ADD  CONSTRAINT [FK_Rate_User] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
ON UPDATE CASCADE
GO
ALTER TABLE [Book].[Rate] CHECK CONSTRAINT [FK_Rate_User]
GO
ALTER TABLE [Global].[Report]  WITH CHECK ADD  CONSTRAINT [FK_Report_User] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
ON UPDATE CASCADE
GO
ALTER TABLE [Global].[Report] CHECK CONSTRAINT [FK_Report_User]
GO
ALTER TABLE [Personality].[MBTI_Genre_Suggestion]  WITH CHECK ADD  CONSTRAINT [FK_MBTI_Genre_Suggestion_Genre] FOREIGN KEY([GenreID])
REFERENCES [Book].[Genre] ([GenreID])
GO
ALTER TABLE [Personality].[MBTI_Genre_Suggestion] CHECK CONSTRAINT [FK_MBTI_Genre_Suggestion_Genre]
GO
ALTER TABLE [Personality].[MBTI_Genre_Suggestion]  WITH CHECK ADD  CONSTRAINT [FK_MBTI_Genre_Suggestion_MBTI_Types] FOREIGN KEY([MBTI])
REFERENCES [Personality].[MBTI_Types] ([MBTI])
GO
ALTER TABLE [Personality].[MBTI_Genre_Suggestion] CHECK CONSTRAINT [FK_MBTI_Genre_Suggestion_MBTI_Types]
GO
ALTER TABLE [User].[GenreFavorite]  WITH CHECK ADD  CONSTRAINT [FK_GenreFavorite_Genre] FOREIGN KEY([GenreID])
REFERENCES [Book].[Genre] ([GenreID])
ON UPDATE CASCADE
GO
ALTER TABLE [User].[GenreFavorite] CHECK CONSTRAINT [FK_GenreFavorite_Genre]
GO
ALTER TABLE [User].[GenreFavorite]  WITH CHECK ADD  CONSTRAINT [FK_GenreFavorite_User] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [User].[GenreFavorite] CHECK CONSTRAINT [FK_GenreFavorite_User]
GO
ALTER TABLE [User].[Image]  WITH CHECK ADD  CONSTRAINT [FK_UserProfileImage_User] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
GO
ALTER TABLE [User].[Image] CHECK CONSTRAINT [FK_UserProfileImage_User]
GO
ALTER TABLE [User].[Security]  WITH CHECK ADD  CONSTRAINT [FK_Security_User] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
ON UPDATE CASCADE
GO
ALTER TABLE [User].[Security] CHECK CONSTRAINT [FK_Security_User]
GO
ALTER TABLE [User].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_MBTI_Types] FOREIGN KEY([MBTI])
REFERENCES [Personality].[MBTI_Types] ([MBTI])
GO
ALTER TABLE [User].[User] CHECK CONSTRAINT [FK_User_MBTI_Types]
GO
ALTER TABLE [User].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserType] FOREIGN KEY([UserTypeID])
REFERENCES [User].[UserType] ([UserTypeID])
ON UPDATE CASCADE
GO
ALTER TABLE [User].[User] CHECK CONSTRAINT [FK_User_UserType]
GO
ALTER TABLE [Zone].[Country]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Continent] FOREIGN KEY([ContinentID])
REFERENCES [Zone].[Continent] ([ContinentID])
GO
ALTER TABLE [Zone].[Country] CHECK CONSTRAINT [FK_Countries_Continent]
GO
ALTER TABLE [Zone].[Country]  WITH CHECK ADD  CONSTRAINT [FK_Countries_Language] FOREIGN KEY([LanguageID])
REFERENCES [Book].[Language] ([LanguageID])
GO
ALTER TABLE [Zone].[Country] CHECK CONSTRAINT [FK_Countries_Language]
GO
ALTER TABLE [User].[Image]  WITH CHECK ADD  CONSTRAINT [CK_UserProfileImage_FileSizeKB] CHECK  (([FileSizeKB]>=(0)))
GO
ALTER TABLE [User].[Image] CHECK CONSTRAINT [CK_UserProfileImage_FileSizeKB]
GO
ALTER TABLE [User].[Image]  WITH CHECK ADD  CONSTRAINT [CK_UserProfileImage_Height] CHECK  (([Height]>(0)))
GO
ALTER TABLE [User].[Image] CHECK CONSTRAINT [CK_UserProfileImage_Height]
GO
ALTER TABLE [User].[Image]  WITH CHECK ADD  CONSTRAINT [CK_UserProfileImage_Width] CHECK  (([Width]>(0)))
GO
ALTER TABLE [User].[Image] CHECK CONSTRAINT [CK_UserProfileImage_Width]
GO
/****** Object:  StoredProcedure [Book].[spCollection]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [Book].[spCollection](@UserID AS BIGINT)
AS
BEGIN
	SELECT 
		C.[CollectionID], C.[IsPublic], C.[Title], C.[CreateDate], C.[Discription], C.[ReportID],

		C.GenreID1, G1.Title AS GenreTitle1,
		C.GenreID2, G2.Title AS GenreTitle2, 
		C.GenreID3, G3.Title AS GenreTitle3, 

		C.[AccessibilityGroupID], A.Title AS AccessGroupTitle, 
		A.Discription AS AccessGroupDiscription,

		(SELECT COUNT(*) FROM Book.[CollectionDetail] WHERE CollectionID = C.[CollectionID]) AS NumberOfDetail,

		C.[UserID], U.UserName, CONCAT(U.FirstName, '', U.LastName) AS FullName

	FROM Book.[Collection] AS C
	LEFT JOIN [USER].[User] AS U
		ON C.UserID = U.UserID
	LEFT JOIN [Book].[Genre] AS G1
		ON C.GenreID1 = G1.GenreID
	LEFT JOIN [Book].[Genre] AS G2
		ON C.GenreID2 = G2.GenreID
	LEFT JOIN [Book].[Genre] AS G3
		ON C.GenreID3 = G3.GenreID
	LEFT JOIN [Book].[AccessibilityGroup] AS A
		ON C.AccessibilityGroupID = A.AccessibilityGroupID

	WHERE ((@UserID = 0) OR ((@UserID <> 0) and (@UserID = C.UserID)))
END;





GO
/****** Object:  StoredProcedure [Book].[spDetailCollection]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create     PROCEDURE [Book].[spDetailCollection](@CollectionID AS BIGINT)
AS
BEGIN
	SELECT
		CD.[CollectionID], B.*
	FROM [Book].[CollectionDetail] AS CD
	LEFT JOIN Book.vwBookSummary AS B
		ON CD.BookID = B.BookID
		AND B.IsPrimary = 1
	WHERE ((@CollectionID = 0) OR (@CollectionID <> 0) AND (CD.CollectionID = @CollectionID))
END;



GO
/****** Object:  StoredProcedure [Book].[spDetailOfBook]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Book].[spDetailOfBook]
(
	@BookID AS BIGINT,
	@UserID AS BIGINT
)
AS
BEGIN
	DECLARE @LikeCount INT;

	SELECT @LikeCount = COUNT(*) 
	FROM Book.[Like]
	WHERE BookID = @BookID;

	DECLARE @UserLiked BIT = 0;
	IF @UserID <> 0
	BEGIN
		IF EXISTS (
			SELECT 1 FROM Book.[Like]
			WHERE BookID = @BookID AND UserID = @UserID)
		BEGIN
			SET @UserLiked = 1;
		END
	END

	SELECT 
		B.[BookID], B.[Title], 
		B.[AuthorID], CONCAT(A.FirstName, ' ', A.Lastname) AS AuthorName,  
		B.[PublisherID], P.Title AS PublisherName,  
		B.[GenreID1], G1.Title AS GenreName1, 
		B.[GenreID2], G2.Title AS GenreName2, 
		B.[GenreID3], G3.Title AS GenreName3,  
		B.[GenreExtra], B.[Description], B.[PublishedYear], 
		B.[LanguageID], L.Title AS LanguageName,
		B.[PageCount], B.[ISBN], B.[CreatedAt], B.[UpdatedAt],
		@LikeCount AS LikeCount,
		@UserLiked AS IsLikedByUser
	FROM BOOK.[Book] AS B
	LEFT JOIN BOOK.[Genre] AS G1 ON B.GenreID1 = G1.GenreID
	LEFT JOIN BOOK.[Genre] AS G2 ON B.GenreID2 = G2.GenreID
	LEFT JOIN BOOK.[Genre] AS G3 ON B.GenreID3 = G3.GenreID
	LEFT JOIN BOOK.[Author] AS A ON B.AuthorID = A.AuthorID
	LEFT JOIN BOOK.[Publisher] AS P ON B.PublisherID = P.PublisherID
	LEFT JOIN BOOK.[Language] AS L ON B.LanguageID = L.LanguageID
	WHERE B.BookID = @BookID
END
GO
/****** Object:  StoredProcedure [Book].[spFavoritBook]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [Book].[spFavoritBook](@UserID AS BIGINT)
AS
BEGIN
	SELECT 
		B.[BookID], B.[Title], B.[AuthorID], B.[FullAuthorName], 
		B.[GenreID1], B.[GenreID2], B.[GenreID3], 
		B.[PublisherID], B.ImageUrl,
		COUNT(LikeID) AS LIKECOUNT 
	FROM Book.vwBookSummary AS B
	LEFT JOIN BOOK.[Like] AS L
		ON L.BookID = B.BookID
		
	WHERE (L.UserID = @UserID) AND (B.IsPrimary = 1)
	GROUP BY B.[BookID], [Title], [AuthorID], B.[FullAuthorName], 
		[GenreID1], [GenreID2], [GenreID3], [PublisherID], ImageUrl
	ORDER BY LIKECOUNT DESC
END;
GO
/****** Object:  StoredProcedure [Book].[spSearchBook]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Book].[spSearchBook]
(
    @Text AS NVARCHAR(100),
    @UserID AS BIGINT,
    @PageNum AS INT,
    @Count AS INT
)
AS
BEGIN
    DECLARE @MBTI AS CHAR(4);

    IF @UserID <> 0 AND @UserID IS NOT NULL
    BEGIN
        SELECT @MBTI = MBTI
        FROM [User].[User]
        WHERE (UserID = @UserID);
    END
    ELSE
    BEGIN
        SET @MBTI = NULL;
    END;

    SELECT
		B.[BookID], B.[Title], B.[PublisherID], 
		B.[GenreID1], B.[GenreID2], [GenreID3], B.[GenreExtra], 
		B.[Description], B.[PublishedYear], B.[LanguageID], 
		B.[PageCount], B.[ISBN], B.[CreatedAt], B.[UpdatedAt],
		B.[AuthorID], 
		CASE 
			WHEN LEN(A.[MiddleName]) <> 0 THEN CONCAT(A.[FirstName], ' ', A.[MiddleName], ' ', A.[Lastname])
			ELSE CONCAT(A.[FirstName], ' ', A.[Lastname])
		END AS FullAuthorName, 
		I.[ImageGuid],I.[IsPrimary], I.[ImageUrl],
		@MBTI AS RealatedMBTI,
        S_Match.MaxStrength AS SuggestionStrength
	FROM Book.Book AS B
	LEFT JOIN Book.Image AS I
		ON B.BookID = I.BookID
	LEFT JOIN Book.Author AS A
		ON B.AuthorID = A.AuthorID
    OUTER APPLY (
        SELECT MAX(MGS.Strength) AS MaxStrength
        FROM Personality.MBTI_Genre_Suggestion AS MGS
        WHERE MGS.MBTI = @MBTI 
          AND (
                MGS.GenreID = B.GenreID1 OR
                MGS.GenreID = B.GenreID2 OR
                MGS.GenreID = B.GenreID3
              )
       
    ) AS S_Match
    WHERE
        (B.Title like '%'+@Text+'%')  
        AND (
            (@MBTI IS NULL) 
            OR
            (@MBTI IS NOT NULL AND S_Match.MaxStrength IS NOT NULL) -- اگر کاربر MBTI دارد، باید حداقل یک ژانر پیشنهادی منطبق وجود داشته باشد
        )
    ORDER BY
        CASE
            WHEN @MBTI IS NOT NULL AND S_Match.MaxStrength IS NOT NULL THEN S_Match.MaxStrength
            ELSE -1
        END DESC,
        B.Title ASC
	OFFSET (@PageNum-1)*@Count ROWS FETCH NEXT @Count ROWS ONLY;
END;



GO
/****** Object:  StoredProcedure [User].[spRemoveUser]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [User].[spRemoveUser]
(
    @userID AS NVARCHAR(255) = NULL,
    @userName AS NVARCHAR(255) = NULL,
    @email AS NVARCHAR(255) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserCount INT;
    DECLARE @DeletedUserID INT;

    SELECT @DeletedUserID = UserID, @UserCount = COUNT(*) OVER()
    FROM [User].[User]
    WHERE (UserID = @userID) OR (UserName = @userName) OR (Email = @email);

    IF (@UserCount = 0) OR (@UserCount IS NULL)
    BEGIN
        SELECT NULL AS UserID, 'Failed' AS Status, 'Not_Found' AS Message;
        RETURN;
    END

    IF @UserCount > 1
    BEGIN
        SELECT NULL AS UserID, 'Failed' AS Status, 'More_Than_One' AS Message;
        RETURN;
    END

    DELETE FROM [User].[Security]
    WHERE UserID = @DeletedUserID;

    DELETE FROM [User].[User]
    WHERE UserID = @DeletedUserID;

    SELECT @DeletedUserID AS UserID, 'Succeeded' AS Status, 'Delete_Complete' AS Message;
END
GO
/****** Object:  StoredProcedure [User].[spSignupUser]    Script Date: 30/02/1404 11:44:09 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE     PROCEDURE [User].[spSignupUser]
	@name  NVARCHAR(255),
	@pass  NVARCHAR(255),
	@email NVARCHAR(255),
	@clientEmailID NVARCHAR(255),
	@VerificationCode NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @UserID BIGINT;
    DECLARE @UserName NVARCHAR(MAX);
    DECLARE @ExistingUserID BIGINT;

    SELECT @ExistingUserID = UserID 
    FROM [User].[User] 
    WHERE Email = @email;

    IF @ExistingUserID IS NOT NULL
    BEGIN
        SELECT 
            U.UserID, 
            'exists' AS Message, 
            Email, 
            IsEmailVerified, 
            ClientEmailID  
        FROM [User].[User] AS U
        LEFT JOIN [User].[Security] AS S
            ON U.UserID = S.UserID
        WHERE U.UserID = @ExistingUserID;
        RETURN;
    END
    
	BEGIN TRAN;

	--New UserID
	SET @UserID = NEXT VALUE FOR [User].[SeqUserID];
	SET @UserName = CONCAT(@name,'-',(@UserID*7));

    INSERT INTO [User].[User](UserID, UserName, FirstName, Email, UserTypeID)
    VALUES (@UserID, @UserName, @name, @email, 1);

    INSERT INTO [User].[Security]	
		([UserID], [Status], PasswordHash, ClientEmailID, VerificationCode)
    VALUES (@UserID, 1, @pass, @clientEmailID, @VerificationCode);
	COMMIT TRAN;

	

    SELECT @UserID AS userID, @UserName AS userName,'success' AS message;
	RETURN
END;
GO
USE [master]
GO
