USE [BookWormDB]
GO
/****** Object:  Table [Book].[HashtagCollection]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[HashtagCollection](
	[HashtagID] [int] NOT NULL,
	[CollectionID] [bigint] NOT NULL
) ON [PRIMARY]
GO
