USE [BookWormDB]
GO
/****** Object:  Table [Book].[Rate]    Script Date: 28/12/1403 11:17:50 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Rate](
	[UserID] [bigint] NOT NULL,
	[BookID] [bigint] NOT NULL,
	[Rate] [tinyint] NOT NULL,
 CONSTRAINT [PK_Rate] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Book].[Rate]  WITH CHECK ADD  CONSTRAINT [FK_Rate_Book] FOREIGN KEY([BookID])
REFERENCES [Book].[Book] ([BookID])
ON UPDATE CASCADE
GO
ALTER TABLE [Book].[Rate] CHECK CONSTRAINT [FK_Rate_Book]
GO
ALTER TABLE [Book].[Rate]  WITH CHECK ADD  CONSTRAINT [FK_Rate_User] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
ON UPDATE CASCADE
GO
ALTER TABLE [Book].[Rate] CHECK CONSTRAINT [FK_Rate_User]
GO
