USE [BookWormDB]
GO
/****** Object:  Table [Book].[Image]    Script Date: 22/01/1404 08:31:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Image](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[ImageGuid] [uniqueidentifier] NOT NULL,
	[BookID] [bigint] NOT NULL,
	[IsPrimary] [bit] NULL,
	[UploadDate] [datetime] NULL,
	[FileSizeKB] [int] NULL,
	[ContentType] [varchar](100) NULL,
	[OriginalFileName] [nvarchar](255) NULL,
	[ImageUrl] [varchar](255) NULL,
	[Width] [int] NULL,
	[Height] [int] NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Image_ImageGuid]    Script Date: 22/01/1404 08:31:04 ب.ظ ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Image_ImageGuid] ON [Book].[Image]
(
	[ImageGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Book].[Image] ADD  CONSTRAINT [DF__Image__ImageGuid__5A4F643B]  DEFAULT (newid()) FOR [ImageGuid]
GO
ALTER TABLE [Book].[Image] ADD  CONSTRAINT [DF__Image__IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [Book].[Image] ADD  CONSTRAINT [DF__Image__UploadDate]  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [Book].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Book] FOREIGN KEY([BookID])
REFERENCES [Book].[Book] ([BookID])
GO
ALTER TABLE [Book].[Image] CHECK CONSTRAINT [FK_Image_Book]
GO
