USE [BookWormDB]
GO
/****** Object:  Table [Book].[Like]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[Like](
	[LikeID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NULL,
	[BookID] [bigint] NULL,
 CONSTRAINT [PK_Like] PRIMARY KEY CLUSTERED 
(
	[LikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Like]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
CREATE NONCLUSTERED INDEX [IX_Like] ON [Book].[Like]
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Like_1]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
CREATE NONCLUSTERED INDEX [IX_Like_1] ON [Book].[Like]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Book].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_Book] FOREIGN KEY([BookID])
REFERENCES [Book].[Book] ([BookID])
ON DELETE CASCADE
GO
ALTER TABLE [Book].[Like] CHECK CONSTRAINT [FK_Like_Book]
GO
ALTER TABLE [Book].[Like]  WITH CHECK ADD  CONSTRAINT [FK_Like_User] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [Book].[Like] CHECK CONSTRAINT [FK_Like_User]
GO
