USE [BookWormDB]
GO
/****** Object:  Table [Book].[CollectionDetail]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Book].[CollectionDetail](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CollectionID] [bigint] NULL,
	[BookID] [bigint] NULL,
 CONSTRAINT [PK_CollectionDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_CollectionDetail]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
CREATE NONCLUSTERED INDEX [IX_CollectionDetail] ON [Book].[CollectionDetail]
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CollectionDetail_1]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
CREATE NONCLUSTERED INDEX [IX_CollectionDetail_1] ON [Book].[CollectionDetail]
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Book].[CollectionDetail]  WITH CHECK ADD  CONSTRAINT [FK_CollectionDetail_Book] FOREIGN KEY([BookID])
REFERENCES [Book].[Book] ([BookID])
ON DELETE CASCADE
GO
ALTER TABLE [Book].[CollectionDetail] CHECK CONSTRAINT [FK_CollectionDetail_Book]
GO
ALTER TABLE [Book].[CollectionDetail]  WITH CHECK ADD  CONSTRAINT [FK_CollectionDetail_Collection] FOREIGN KEY([CollectionID])
REFERENCES [Book].[Collection] ([CollectionID])
ON DELETE CASCADE
GO
ALTER TABLE [Book].[CollectionDetail] CHECK CONSTRAINT [FK_CollectionDetail_Collection]
GO
