USE [BookWormDB]
GO
/****** Object:  Table [Personality].[MBTI_Genre_Suggestion]    Script Date: 22/02/1404 09:07:43 ق.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Personality].[MBTI_Genre_Suggestion](
	[MBTIID] [int] NOT NULL,
	[GenreID] [int] NOT NULL,
	[Strength] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MBTIID] ASC,
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Personality].[MBTI_Genre_Suggestion] ADD  DEFAULT ((5)) FOR [Strength]
GO
ALTER TABLE [Personality].[MBTI_Genre_Suggestion]  WITH CHECK ADD FOREIGN KEY([GenreID])
REFERENCES [Book].[Genre] ([GenreID])
GO
ALTER TABLE [Personality].[MBTI_Genre_Suggestion]  WITH CHECK ADD FOREIGN KEY([MBTIID])
REFERENCES [Personality].[MBTI_Types] ([MBTIID])
GO
