USE [BookWormDB]
GO
/****** Object:  Table [User].[GenreFavorite]    Script Date: 22/01/1404 08:31:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User].[GenreFavorite](
	[GenreFavoriteID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[GenreID] [int] NOT NULL,
	[Priority] [int] NULL,
 CONSTRAINT [PK_GenreFavorite] PRIMARY KEY CLUSTERED 
(
	[GenreFavoriteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [User].[GenreFavorite]  WITH CHECK ADD  CONSTRAINT [FK_GenreFavorite_Genre] FOREIGN KEY([GenreID])
REFERENCES [Book].[Genre] ([GenreID])
ON UPDATE CASCADE
GO
ALTER TABLE [User].[GenreFavorite] CHECK CONSTRAINT [FK_GenreFavorite_Genre]
GO
ALTER TABLE [User].[GenreFavorite]  WITH CHECK ADD  CONSTRAINT [FK_GenreFavorite_User] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [User].[GenreFavorite] CHECK CONSTRAINT [FK_GenreFavorite_User]
GO
