USE [BookWormDB]
GO
/****** Object:  Table [User].[Image]    Script Date: 22/01/1404 08:31:04 ب.ظ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [User].[Image](
	[UserID] [bigint] NOT NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[UploadDate] [datetime] NOT NULL,
	[FileSizeKB] [int] NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[ContentType] [nvarchar](100) NULL,
	[OriginalFileName] [nvarchar](255) NULL,
 CONSTRAINT [PK_UserProfileImage_1] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserProfileImage_UploadDate]    Script Date: 22/01/1404 08:31:04 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_UserProfileImage_UploadDate] ON [User].[Image]
(
	[UploadDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserProfileImage_UserID]    Script Date: 22/01/1404 08:31:04 ب.ظ ******/
CREATE NONCLUSTERED INDEX [IX_UserProfileImage_UserID] ON [User].[Image]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [User].[Image] ADD  CONSTRAINT [DF_UserProfileImage_UploadDate]  DEFAULT (getdate()) FOR [UploadDate]
GO
ALTER TABLE [User].[Image]  WITH CHECK ADD  CONSTRAINT [FK_UserProfileImage_User] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [User].[Image] CHECK CONSTRAINT [FK_UserProfileImage_User]
GO
ALTER TABLE [User].[Image]  WITH CHECK ADD  CONSTRAINT [FK_UserProfileImage_User1] FOREIGN KEY([UserID])
REFERENCES [User].[User] ([UserID])
GO
ALTER TABLE [User].[Image] CHECK CONSTRAINT [FK_UserProfileImage_User1]
GO
ALTER TABLE [User].[Image]  WITH CHECK ADD  CONSTRAINT [CK_UserProfileImage_FileSizeKB] CHECK  (([FileSizeKB]>=(0)))
GO
ALTER TABLE [User].[Image] CHECK CONSTRAINT [CK_UserProfileImage_FileSizeKB]
GO
ALTER TABLE [User].[Image]  WITH CHECK ADD  CONSTRAINT [CK_UserProfileImage_Height] CHECK  (([Height]>(0)))
GO
ALTER TABLE [User].[Image] CHECK CONSTRAINT [CK_UserProfileImage_Height]
GO
ALTER TABLE [User].[Image]  WITH CHECK ADD  CONSTRAINT [CK_UserProfileImage_Width] CHECK  (([Width]>(0)))
GO
ALTER TABLE [User].[Image] CHECK CONSTRAINT [CK_UserProfileImage_Width]
GO
